@model Category


@{
    ViewData["Title"] = "Edit Category";
}

<form method="post" style="max-width:600px" class="m-auto m-3 mt-5">
    <div class="mb-3 text-success fs-4">Edit Category | Id : @Model.Id</div>
    
    <div class="mb-3">
        <label for="Name" asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control bg-light text-white" id="Name" aria-describedby="Name" placeholder="Name of Category">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="DisplayOrder" asp-for="DisplayOrder" class="form-label"></label>
        <input asp-for="DisplayOrder" class="form-control bg-light text-white" id="DisplayOrder" placeholder="Display Order of your category">
        <span asp-validation-for="DisplayOrder" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-outline-success fs-5 w-100 mt-3">Update</button>
</form>

<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
